/* Tailwind */
@import "tailwindcss";

/* daisyUI */
@plugin "daisyui";
/*{*/
/*    themes: light --default, dark --prefersdark, light;*/
/*}*/
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: "#232f54";
    --color-secondary: "#e2e2e2";
    --color-accent: "#a12733";
    --color-neutral: "#2a323c";
    --color-base-100: "#ffffff";
    --color-info: "#021c93";
    --color-success: "#059861";
    --color-warning: "#a17b07";
    --color-error: "#a12733";
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Dark theme variant support */
@custom-variant dark (&:where(.dark, .dark *));

/* Laravel 12 defaults */
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

/* Your styles goes here ... */
